# -------------------------------------------------------------
# Docker & build artifacts
# -------------------------------------------------------------
*.log
*.tmp
*.pid
*.sock
*.swp
__pycache__/
*.pyc

# Docker
.env
docker-compose.override.yml
*/__pycache__/
*/.pytest_cache/

# Volumes & data
clickhouse/data/
minio/
pgdata/
metabase/
airflow/logs/
airflow/tmp/
tmp/
*/__pycache__/

# IDE / Editor configs
.vscode/
.idea/

# OS / misc
.DS_Store
Thumbs.db

# Python environments
venv/
.env/
